  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;

  }



.pers{
      
    text-align: center;
   
   border-bottom: 1px solid #000;
background-color: rgb(87, 5, 5);   
padding-bottom: 10%;

}





.contacts{
   border-bottom: 1px solid #000;
   padding-left: 10%;
   padding-top: 5%;
}
.details{
   border-bottom: 1px solid #000;
   padding-left: 10%;
   padding-top: 5%;
}

.educ{
   
  margin-top: 100px;
  margin-bottom: 100px;
   padding-left: 10%;
  border-bottom: 1px solid #000;
  
}
    

.sumary{
   
  margin-top: 100px;
  margin-bottom: 100px;
   padding-left: 10%;
  border-bottom: 1px solid #000;
  
}

.work{
   
  margin-top: 100px;
  margin-bottom: 100px;
   padding-left: 10%;
  border-bottom: 1px solid #000;
}

.skills{
   margin-top: 100px;
  margin-bottom: 100px;
    padding-left: 10%;
  border-bottom: 1px solid #000;
 

  
}
.progress{
  padding-right:10% ;
}
.footer{
    
    width: 100%;
    height: inherit;
    padding: 20px 200px;
    background: #4d0410;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.footer div{  
    text-align: center;
    padding-top: 2px;
}

.col-1, .col-2, .col-3, .col-4, .col-5{
    flex-grow: 1;
    font-family: Poppins, sans-serif;
    padding-right: 0 10px;
   
    
    
}
.footer div{
    text-align: center;
}

form input{
    width: 150px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: solid;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    
}

.socialicons {
    display: flex;
    align-items: center; 
}

.location-text {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 3px; 
}

.location-text img {
    max-width: 100px; 
    margin-bottom: 3px; 
}

.location-text p {
    margin-top: 3px; 
    font-size: 16px; 
    line-height: 1.2; 
}

i p{
    color: white;
}
